/*
 * Choropleth / Accident Map
 */

#accidentChoroplethMap svg,
#accidentMap svg {
    background: #EEE;
}

#accidentChoroplethMap svg path.neighborhood {
    stroke-width: 1px;
    stroke: #999;
    fill: rgb(232, 61, 34);
}

#accidentMap svg path.boundary {
    fill: #CCC;
}

#accidentChoroplethMap svg path.road,
#accidentMap svg path.road {
    fill: #EEE;
}

#accidentMap svg circle.accident {
    fill: #4682B4;
    fill-opacity: 0.2;
}

/*
 * Year / Month / Day Chart
 */

#monthChart svg,
#dayChart svg {

}

#monthChart svg .axis path,
#monthChart svg .axis line,
#dayChart svg .axis path,
#dayChart svg .axis line {
    stroke-width: 1px;
    stroke: #333;
    fill: none;
}

#monthChart svg .axis text,
#dayChart svg .axis text {
    font-size: 13px;
    fill: #333;
}

#monthChart svg .background path.area,
#dayChart svg .background path.area {
    fill: #D8D8D8;
}

#monthChart svg .foreground path.area,
#dayChart svg .foreground path.area {
    fill: #A3C1DA;
}

#monthChart svg .background path.line,
#dayChart svg .background path.line {
    stroke-width: 1;
    stroke: #B2B2B2;
    fill: none;
}

#monthChart svg .foreground path.line,
#dayChart svg .foreground path.line {
    stroke-width: 1;
    stroke: #4682B4;
    fill: none;
}

#monthChart svg .brush .extent,
#dayChart svg .brush .extent {
    fill: #4682B4;
    fill-opacity: 0.1;
}